<a href="https://colab.research.google.com/github/manishmawatwal/DataScience/blob/main/Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arithmetic Operators:

In [8]:
x = 10
y = 4
print(x+y, x-y, x*y, x/y, x%y, x**y, x//y)

14 6 40 2.5 2 10000 2

Assignment Operators:

In [13]:
u,v,w,x,y,z = 1,2,3,4,5,6
u *= 7
v /= 8
w **= 9 
y += 4
z -= 5
print(u, v, w, x, y, z)
# do not give space between operators in shorthand assignment

7 0.25 19683 4 9 1

Comparison Operators:

In [16]:
x = 7
y = 3
print(x != y, x > y, x < y, x == y, x >= y, x <= y)

True True False False True False

Logical Operators: and, or, not

In [20]:
x = 7
y = 12
print(x > 2 and y < 10, x > 3 or x < 10, not(x > 2))

False True False

Identity Operators

In [22]:
x = 505
y = 500 + 5
print(x, y, id(x), id(y), x is y)

505 505 140527545354416 140527545354608 False