<a href="https://colab.research.google.com/github/manishmawatwal/DataScience/blob/main/Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arithmetic Operators: +, -, *, /, %, **

In [29]:
x = 10
y = 4
print(x+y, x-y, x*y, x/y, x%y, x**y, x//y)

14 6 40 2.5 2 10000 2

Assignment Operators: =, +=, -=, *=, %=, **=, //=

In [30]:
u,v,w,x,y,z = 1,2,3,4,5,6
u *= 7
v /= 8
w **= 9 
y += 4
z -= 5
print(u, v, w, x, y, z)
# do not give space between operators in shorthand assignment

7 0.25 19683 4 9 1

Comparison Operators: <, >, <=, >=, !=, ==

In [31]:
x = 7
y = 3
print(x != y, x > y, x < y, x == y, x >= y, x <= y)

True True False False True False

Logical Operators: and, or, not

In [32]:
x = 7
y = 12
print(x > 2 and y < 10, x > 3 or x < 10, not(x > 2))

False True False

Identity Operators: is, is not

In [33]:
x = 505
y = 500 + 5
z = [5, 6, 7, 1, 9]
w = [5, 6, 7, 1, 9]
v = z
print(x, y, id(x), id(y), x is y, x is not y, v is z)

505 505 140527477012848 140527477014000 False True True

Membership Operators: in, not in

In [34]:
a = [1, 2, 3, 4, 5]
b = [6, 'python', 7, 8]
c = {
    'a': 'India',
    'b': 'USA'
}
print(5 in a, 55 in a, 4 in b, 'Python' in b, 'a' in c, 'India' in c)
# membership operators only work on keys in a dictionary

True False False False True False

Bitwise Operator: &, |, >>, <<

In [35]:
print(7&2, 10 | 5)

2 15